.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* width: 100%; */
    height: 100vh;
}

.table {
    height: 100vh;
    margin: 2em;
    margin-top: 4%;
    width: 80%;
    /* padding: 5%; */
    /* background-color: blue; */
}

/* .sidebar{
    width: 20vw;
    height: 100vh;
    background-color: aqua;  
} */
.sideButton {
    display: none;
}

.hamburguer {
    display: none;
}


@media (max-width: 470px) {
    .container {
        display: flex;
        width: 100%;
        /* justify-content: center;
        align-items: center; */
        flex-direction: column;

    }

    .sidebar {
        display: none;
    }

    .table {
        /* height: 100vh; */
        margin: 0em;
        margin-top: 3%;
        width: 80%;
        margin-right: 10%;
        /* padding: 5%; */
        /* background-color: blue; */
    }

    .hamburguer {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        width: 100%;
    }

    .sideButton {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        height: 16vh;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.43);
        -webkit-box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.43);
        -moz-box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.43);
        /* border-radius: 10px; */
        /* margin-: 25%; */
        /* padding */

    }

    .sideButton>img {
        width: 8%;
        /* background-color: blue; */
        margin-left: 5%;
        margin-top: 10%;

    }


}