.cont {
    position: fixed;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.outerCircle {
    width: 45vw;
    height: 45vw;
    background-color: #F5A802;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerCircle {
    width: 30vw;
    height: 30vw;
    background-color: #123465;
    border: 25px
    solid #fff;
    border-radius: 50%;
}

